<mat-card-header>
  <mat-card-title>Transactions</mat-card-title>
</mat-card-header>
<mat-card-content>
  <table [dataSource]="dataSource" class="mat-elevation-z5" mat-table>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let element" mat-cell> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th *matHeaderCellDef mat-header-cell> Weight</th>
      <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th *matHeaderCellDef mat-header-cell> Symbol</th>
      <td *matCellDef="let element" mat-cell> {{element.symbol}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card-content>
