<div class='habitt-score-page'>
  <h1 class='title'>Your Habitt Score is 691!</h1>
  <div class = 'c-card'>
    <div class = 'c-header'>
      <div class = 'c-title'>Habitt Score</div>
    </div>
    <div class = 'c-body'>
      <img alt = 'Rewards' class = 'rewards' src = '../../../assets/Score.png'>
      <br>
      <div class='c-card'>
        <div class = 'c-header'>
          <div class = 'c-title'>Details</div>
        </div>
        <div class='c-body'>
          More Details...
        </div>
      </div>
    </div>
  </div>
</div>
