.pay-bill-page {
  display: flex;

  flex-flow: column;

  gap: 2em;

  padding: 3em;

  #inner-cards {
    display: grid;
    position: relative;

    grid-template-columns: repeat(3, 1fr);

    padding: 1em;

    grid-gap: 1em;
  }
}
