<div class = 'pay-bill-page'>
  <div class = 'c-card'>
    <div class = 'c-header'>
      <div class = 'c-title'>Add new Bill</div>
    </div>
    <div class = 'c-body'>
      Add Bill
    </div>
  </div>


  <div class = 'c-card'>
    <div class = 'c-header'>
      <div class = 'c-title'>Upcoming Bills</div>
    </div>
    <div class = 'c-body' id='inner-cards'>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
        <div class = 'c-card'>
          <div class = 'c-body'>
            <div class = 'line h5 fw-bold'>$61.99</div>
            <div class = 'line text-black-50 pb-2 h6'>April 21, 2021</div>
            <img alt = 'Rogers' class = 'rewards w-50' src = '../../../assets/svg/Rogers_logo.svg'>
          </div>
        </div>
    </div>
  </div>
</div>
