.register-cont {
  display: flex;
  position: relative;

  width: 400px;
  height: fit-content;

  flex-flow: column wrap;

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .subText {
    font-size: 1rem;
    font-weight: 500;
  }

  #hr {
    width: 100%;

    border: 1px solid lightgray;
    border-radius: 10px;

    margin: 0 0 24px 0;
  }

  form {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    flex-flow: wrap column;

    width: 100%;

    mat-form-field {
      width: 90%;
    }

    mat-hint {
      width: fit-content;

      justify-self: center;
      align-self: center;

      padding: 0 0 24px 0;

      span.header {
        font-size: 1rem;
        font-weight: 500;
      }

      ul {
        list-style-type: none;

        li {
          font-size: 14px;
          letter-spacing: 0.3px;
          color: darkgrey;

          margin: 4px 0;

          span.material-icons {
            font-size: 14px;
            padding: 0 4px;
            content: "unpublished";
          }

          &.valid {
            color: var(--success);
            text-decoration: line-through;
          }

          &.invalid {
            color: var(--danger);


          }
        }
      }
    }

    button {
      width: 90%;
      background-color: var(--success);

      font-weight: 600;
      text-transform: uppercase;

      margin: 8px 0;

      &[mat-icon-button] {
        background-color: transparent;
        width: fit-content;
        height: fit-content;

        margin: 0;
        text-transform: none;
      }

      &#back {
        background-color: lightpink;
        color: var(--danger);

        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--danger);
          color: white;
        }

      }
    }
  }


}
