<div class="register-cont">
  <p class="title">Welcome to Habitt!</p>
  <p class="subtext">Let's start a new Habitt...</p>
  <p id="hr"></p>


  <form *ngIf="this.step === 1">
    <mat-form-field [appearance]="this.APP.inputFieldAppearance" [hideRequiredMarker]="this.APP.hideRequiredMarker">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="this.email" email matInput name="email" required type="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <button (click)="this.step = 2" mat-raised-button type="submit">Register</button>
  </form>


  <form *ngIf="this.step === 2">
    <mat-form-field [appearance]="this.APP.inputFieldAppearance" [hideRequiredMarker]="this.APP.hideRequiredMarker">
      <mat-label>Full Name</mat-label>
      <input [(ngModel)]="this.fullName" matInput name="fullName" placeholder="Mat Patt" required type="text">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field [appearance]="this.APP.inputFieldAppearance" [hideRequiredMarker]="this.APP.hideRequiredMarker">
      <mat-label>Mobile Number</mat-label>
      <input [(ngModel)]="this.phoneNumber" matInput maxlength="10" minlength="10" name="phoneNumber"
             placeholder="123-456-7890" required type="tel">
      <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>

    <mat-error *ngIf="this.phoneNumber.length !== 10 && this.phoneNumber.length > 0">Enter a valid phone number!
    </mat-error>

    <mat-form-field [appearance]="this.APP.inputFieldAppearance" [hideRequiredMarker]="this.APP.hideRequiredMarker">
      <mat-label>Password</mat-label>
      <input #pass (keyup)="this.verifyValidity($event)" [(ngModel)]="this.password"
             [type]="this.showPass ? 'text':'password'"
             matInput name="password" required>
      <button (click)="this.showPass = !this.showPass" mat-icon-button matSuffix type="button">
        <mat-icon>{{this.showPass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-hint *ngIf="this.password.length > 0">
      <span class="header">You password must contain:</span>
      <ul>
        <li
          *ngFor="let match of this.matchCases;let i = index;"
          [ngClass]="match.match ? 'valid':'invalid'">
          <mat-icon inline>{{match.match ? "check_circle" : "unpublished"}}</mat-icon>
          {{match.cond}}
        </li>
      </ul>
    </mat-hint>

    <mat-form-field [appearance]="this.APP.inputFieldAppearance" [hideRequiredMarker]="this.APP.hideRequiredMarker">
      <mat-label>Re-Enter Password</mat-label>
      <input [(ngModel)]="this.passwordRe" [type]="this.showRePass ? 'text':'password'" matInput name="passwordRe"
             required>
      <button (click)="this.showRePass = !this.showRePass" mat-icon-button matSuffix type="button">
        <mat-icon>{{this.showRePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-error *ngIf="this.passwordRe.length > 0 && this.passwordRe !== this.password">
      <mat-icon inline>cancel</mat-icon>
      Password does not match!
    </mat-error>

    <button mat-raised-button type="submit">REGISTER</button>
    <button (click)="this.step = 1" id="back" mat-raised-button type="button">BACK</button>

  </form>

</div>
