<mat-card class="mat-elevation-z7">
  <mat-card-header>
    <img [alt]="this.info.title + ' Logo'" [src]="this.info.logoUrl" mat-card-avatar>
    <mat-card-title>
      {{this.info.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{this.info.subText}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img [alt]="this.info.title + ' Logo'" [src]="this.info.logoUrl" mat-card-image>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>Pay Bill</button>
  </mat-card-actions>
</mat-card>
