<div [class.hidden] = 'hidden' class = 'top-bar'>
  <div class = 'top-section p-4'>
    <div class = 'section-title'>Hi, {{(auth.user|async)?.displayName}}!</div>
<!--    <div id = 'search-area'>-->
<!--      <input-->
<!--        class = 'input'-->
<!--        id = 'search'-->
<!--        name = 'search'-->
<!--        placeholder = 'Search items'-->
<!--        type = 'text'>-->
<!--      <button class = 'c-icon-button'>-->
<!--        <mat-icon>search</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
  </div>
</div>
