.c-button, .c-icon-button, .c-action-button {
  font-size: 1.1em;
  font-weight: 500;

  position: relative;
  display: flex;

  align-items: center;

  justify-content: center;
  padding: 0.5em 2em;

  color: #4B4B4A;

  border: none;

  border-radius: 0.25em;

  background: var(--bs-white);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);

  gap: 0.5em;

  transition: all 0.2s ease-in-out;

  &.success {
    color: var(--bs-success);
    box-shadow: 1px 1px 4px 0 rgba(#198754, 0.2);
  }

  &.danger {
    background-color: var(--bs-danger);
    color: white;
    box-shadow: 1px 1px 4px 0 rgba(#dc3545, 0.2);
  }

  &.active {
    color: white;
    background-color: var(--primary);
  }

  &:active {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.c-icon-button {
  padding: 0.5em;
  border-radius: 50%;
}

.c-action-button {
  border-radius: 0.5em;
}
