@import '~@angular/material/theming';

@include mat-core();

$awarn: mat-palette($mat-red);
$aaccent: mat-palette($mat-green);
$aprimary: mat-palette($mat-dark-theme-background);

$theme: mat-light-theme($aprimary, $aaccent, $awarn);
@include angular-material-theme($theme);
