* {
  font-family: 'Varela Round', sans-serif;
}

.wrapper {
  position: relative;
  display: flex;

  width: 70%;
  height: 100%;

  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 auto;

  flex-flow: column wrap;
}



#hr {
  height: 1px;
  width: 100%;

  border: 1px solid darkgrey;
  border-radius: 50%;
}


