<div class="login-form">
  <p class="c-name">Welcome to Habitt!</p>
  <p class="subText">Customise your Habitts...</p>
  <span id="hr"></span>
  <form #form="ngForm" (ngSubmit)="this.authService.loginWithEmail(this.email, this.password)">
    <mat-form-field [appearance]="APP.inputFieldAppearance" [hideRequiredMarker]="APP.hideRequiredMarker">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="this.email" email id="email" matInput name="email" required type="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field [appearance]="APP.inputFieldAppearance" [hideRequiredMarker]="APP.hideRequiredMarker">
      <mat-label>Password</mat-label>
      <input #pass (keyup)="verifyValidity($event)" [(ngModel)]="this.password"
             [type]="this.passVisible ? 'text':'password'" autocomplete="off"
             id="password" matInput name="password" required>
      <button (click)="this.passVisible = !this.passVisible" mat-icon-button matSuffix type="button">
        <mat-icon>{{this.passVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <span id="signupText">
          <a [routerLink]="['../','register']">New member? Start a new Habitt.</a>
        </span>
    <button [disabled]="(this.authService.loginAuth | async)" mat-raised-button type="submit">
      {{!(this.authService.loginAuth | async) ? "SIGN IN" : "LOADING..."}}
    </button>
  </form>
</div>
