div.companies {
  position: relative;
  display: flex;

  width: 100%;

  justify-content: flex-start;
  align-items: flex-start;

  flex-flow: column wrap;

  padding: 5% 5% 1% 5%;

  //border: 1px solid black;

  .title {
    font-size: 48px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
  }

  .subText {
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    color: darkgrey;
  }

  .cards {
    position: relative;
    display: flex;

    flex-flow: nowrap row;

    width: 100%;

    justify-content: center;
    align-items: center;

    padding: 16px 0;

    //border: 1px solid black;

    app-company-card {
      margin: 0 8px;
    }
  }

  .see-more {
    position: relative;
    display: flex;

    font-size: 16px;

    align-self: flex-end;

    cursor: pointer;

    color: var(--primary);

    a {
      opacity: 1;
    }

    mat-icon {
      position: absolute;

      left: 100%;

      transition: left 0.5s ease-in-out;
    }

    &:hover {
      a {
        transition: all 0.5s ease-in-out;
        opacity: 1;
      }

      mat-icon {
        left: 100%;
      }
    }
  }

}
