mat-toolbar {
  mat-toolbar-row {
    background-color: var(--success);
    color: white;

    button {
      mat-icon {
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;

        &.menuOpen {
          transform: rotate(180deg);
        }
      }

      #email {
        &:hover {
          text-decoration: underline;
        }
      }
    }


    #inner-spacer {
      flex-grow: 1;
    }

    .outer-spacer {
      width: 12.5%;
    }
  }
}
