<div
  class = 'snackbar'
  [ngClass] = '(ss.snackbarSubject|async).theme'
  *ngIf = '(ss.snackbarSubject|async).show'
  [@load]>
  <div class = 'snackbar-action' *ngIf='(ss.snackbarSubject|async).showAction'>
    <mat-icon style = 'cursor: pointer' (click) = 'ss.snackbarSubject.next({show: false})'>cancel</mat-icon>
  </div>
  <div class = 'snackbar-content'>
    {{(ss.snackbarSubject|async).title}}
  </div>
  <div class = 'snackbar-image'>
    <svg *ngIf='(ss.snackbarSubject|async).theme === "danger"' fill = 'currentColor' viewBox = '0 0 20 20' xmlns = 'http://www.w3.org/2000/svg'>
      <path
        fill-rule = 'evenodd'
        d = 'M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z'
        clip-rule = 'evenodd'></path>
    </svg>
    <svg *ngIf='(ss.snackbarSubject|async).theme !== "danger"' fill = 'currentColor' viewBox = '0 0 20 20' xmlns = 'http://www.w3.org/2000/svg'>
      <path
        d = 'M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z'></path>
    </svg>
  </div>
</div>
