/* You can add global styles to this file, and also import other style files */

@import '~src/theme/CustomCard';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~src/theme/CustomButton';
@import '~src/theme/Custom';
@import '~src/theme/CustomInput';

* {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: fit-content;
  background-color: var(--bs-white);
}

:root {
  $menu-background: #ACE9C2;
  $online: #00FF0A;
  $offline: #D32F2F;
  $warn: #FFD700;
  $background-dark: #09141F;

  --peach: #ECECEB;
  --primary: rgb(39, 174, 96);
  --online: #00FF0A;
  --offline: #D32F2F;
  --warn: #FFD700;
  --background: rgba(172, 233, 194, 0.1);
  --background-dark: #09141F;

  --box-shadow-black: 1px 1px 4px rgba(0,0,0,0.2);

  --background-gradient: linear-gradient(to bottom right, rgba(64, 64, 64, 1), rgba(38, 38, 38, 1), rgba(10, 11, 10, 1));
}
